
.aboveline{
   margin: 0;
   padding: 0;
   display: flex;
}


.fluid{
    margin-top: 50px;
    margin-left: 25px;
}

.fluidtype{
    margin-top: 50px;
    margin-left: 10px;
  display: flex;
}

#checkbox{
    margin-left: 40;
}


.gas{
    position: relative;
    z-index: 1;
        margin-top: 20px;
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
}

.oil{
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

/* .imagediv{
    margin: 10px;
} */

/* #textfield{
    margin-top: 50px;
} */


.oilselect{
        height: 70%;
        width: 15vw;
}

.gasselect{
    height: 70%;
    width: 15vw;
}

.resize{
    position: absolute;
    z-index: 6;
}