
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 100%;
}


.text{
    margin-bottom: 3px;
    /* width: 30%; */
   min-width: 50%;
} 


.btnn{
    /* width: 20%; */
    min-width: 50%;
  }

.signupform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}

